.profile {
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  column-gap: 30px;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 879px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 282px;
    margin-top: 42px;
  }
}
