.popup__wrapper {
  position: relative;
  box-sizing: border-box;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 879px) {
  .popup__wrapper {
    width: 282px;
  }
}
