.footer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 880px;
  margin: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

@media screen and (max-width: 879px) {
  .footer {
    width: calc(100% - 38px);
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
