.edit-popup {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 1;
  z-index: 2;
}

@media screen and (max-width: 879px) {
  .edit-popup {
    width: 282px;
  }
}
